= text_field :name, :label => "Nazwa"
= hidden_field :menu_id
= check_box :active, :label => "Aktywność:"
= check_box :is_link, :label => "Ten element jest linkiem:"
= text_field :url, :label => "Adres (np http://www.google.com):"
= text_field :description, :label => "Opis:"
